
body {
  background:rgb(157, 225, 240);
  font-family:Helvetica, Arial, sans-serif;
  padding:5% 0 0 0;
  margin:0;
}
.windmills{
  position: absolute;
  z-index: 10;
}
.container {
  position:relative;
  width:1000px;
  margin:0 auto;

  padding:0;
}


.stolby {
  position:absolute;
  left:110%;
  top:150px;
  margin-top:18%;
}
.st1{

left: 500px;
}

#v1, #v2, #v3, #v4 {
     animation: 2s motion1 infinite linear;
    position:absolute;
    top:0;
    
}

#v1 {
  left:128%; 
  top:153px;

}

#v2 {
    left:94%;
  top:230px;
-moz-transform: scale(0.7) rotate(0deg);
-webkit-transform: scale(0.7) rotate(0deg);
-o-transform: scale(0.7) rotate(0deg);
-ms-transform: scale(0.7) rotate(0deg);
transform: scale(0.7) rotate(0deg);
  animation: 2s motion2 infinite linear;
}

#v3 {
  left:141%;
  top:330px;
  -moz-transform: scale(0.5) rotate(0deg);
  -webkit-transform: scale(0.5) rotate(0deg);
  -o-transform: scale(0.5) rotate(0deg);
  -ms-transform: scale(0.5) rotate(0deg);
  transform: scale(0.5) rotate(0deg);
  animation: 5s motion3 infinite linear;
  opacity:0.9;
}

#v4 {
  left:108.3%;
  top:400px;
  -moz-transform: scale(0.3) rotate(0deg);
  -webkit-transform: scale(0.3) rotate(0deg);
  -o-transform: scale(0.3) rotate(0deg);
  -ms-transform: scale(0.3) rotate(0deg);
  transform: scale(0.3) rotate(0deg);
  animation: 2s motion4 infinite linear;
  opacity:0.7;
}

#myBar {
  position: absolute;
  width: 10%;
  
  height: 30px;
  background-color: #4CAF50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}
@keyframes motion1 {
  from {}
  

  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);

  }
}

@keyframes motion2 {
  from {}
  

  to {
  -moz-transform: scale(0.7) rotate(360deg);
  -webkit-transform: scale(0.7) rotate(360deg);
  -o-transform: scale(0.7) rotate(360deg);
  -ms-transform: scale(0.7) rotate(360deg);
  transform: scale(0.7) rotate(360deg);

  }
}

@keyframes motion3 {
  from {}
  

  to {
  -moz-transform: scale(0.5) rotate(360deg);
  -webkit-transform: scale(0.5) rotate(360deg);
  -o-transform: scale(0.5) rotate(360deg);
  -ms-transform: scale(0.5) rotate(360deg);
  transform: scale(0.5) rotate(360deg);

  }
}

@keyframes motion4 {
  from {}
  

  to {
  -moz-transform: scale(0.3) rotate(360deg);
  -webkit-transform: scale(0.3) rotate(360deg);
  -o-transform: scale(0.3) rotate(360deg);
  -ms-transform: scale(0.3) rotate(360deg);
  transform: scale(0.3) rotate(360deg);

  }
}



.controls {
  display: flex;
  width:290px;
  height:260px;
  position: absolute;
  border-radius: 3px;
  top: -200px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 20px;
}
.controls h1{
  margin-bottom: 25px;
}
#info{
  position: relative;
  font-size: 24px;
  color: #fec93b;
  top: -230px;
  left: 80%;
}
 button{
  display: inline-block;
  margin: 0 auto;
  background: #339DFF;
  color: #fff;
  border: none;
  font-size: 13px;
  line-height: 38px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 200px;
  text-align: center;
  margin-bottom: 5px;
}
button:hover{ 
  background: #fff;
  color: #339DFF;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

label {
  position: relative;
  margin: 0 auto;
}
label:after {
  content: '▼';
  position: absolute;
  width: 37px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  right: -8px;
  bottom: 8px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
  z-index: 2;
}
label:before {
  content: '';
  right: 2px;
  top: 2px;
  width: 37px;
  height: 34px;
  background: #242424;
  position: absolute;
  pointer-events: none;
  display: block;
  z-index: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 50px;
}
label select {
  position: relative;
  width: 200px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #339DFF;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px 9px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 50px;
  cursor: pointer;
  height: 38px;
}


.loader {
  position: absolute;
  top:10%;
  left: 20px;
  width: 80px;
  height: 122px;
  border: 5px solid #f1f1f1;
  border-radius: 8px;
  float:left;
}

.perc {
border-radius: 2px;
border:1px solid rgba(200,200,200,0.3);
float:left;
margin-top: 2px;
width:90%;
height:16px;
margin-left:3px;
}

.vis{
  visibility: visible;
}

.red0 {
  visibility: hidden;
background-color:#ed1b1e;
}

.red1 {
  visibility: hidden;
background-color:#eb6726;
}

.red2 {
  visibility: hidden;
background-color:#f1a51e;
}

.green0 {
  visibility: hidden;
background-color:#fec93b;
}

.green1 {
  visibility: hidden;
background-color:#c1c554;
}

.green2 {
  visibility: hidden;
background-color:#97c03c;
}
 .batteryStats {
  font-family:'Open Sans', sans-serif;
  color:#eeab3f;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
  line-height:1.5;
  letter-spacing: 1px;
  background: rebeccapurple;
}
#energy{
position:absolute;
float:left;
margin-top:40px;
margin-left:115px;
}
#capacity{
position:absolute;
margin-top:60px;
margin-left:115px;
}
#windspeed{
position:absolute;
margin-top:170px;
margin-left:25px;
}
#winddir{
position:absolute;
margin-top:190px;
margin-left:25px;
}
#electro{
position:absolute;
margin-top:80px;
margin-left:115px;
}
#usage{
position:absolute;
margin-top:100px;
margin-left:115px;
}
.drop-window{
  display: flex;
  position: absolute;
  flex-direction: column;
top: 300px;
  right: 10%; 
  width:290px;
  height:260px;
  background:rgba(red, green, blue, alpha);
  border: 3px solid white;
  border-radius: 20px;
  opacity: 0.9;

}
.drop-window h1{
  text-align: center;
  color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;

}
#i-range{
  direction: rtl;
}


* {
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  body {
    zoom: 0.7;
  }
}
html, body {
  height: 100%;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}
@-webkit-keyframes sway {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
}
@keyframes sway {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-12px);
            transform: translateX(-12px);
  }
}
body {
  min-height: 100%;
  background: -webkit-linear-gradient(top, #152c3e, #37618a);
  position: relative;
}
body #mountains {
  z-index: 2;
  position: absolute;
  bottom: 20%;
  margin-bottom: -16px;
  left: 10%;
}
body #cloud1 {
  z-index: 2;
  position: absolute;
  top: 20%;
  right: 4%;
  -webkit-animation: bounce 2s ease-in-out 0s infinite alternate;
          animation: bounce 2s ease-in-out 0s infinite alternate;
}
body #cloud2 {
  z-index: 1;
  position: absolute;
  top: 22%;
  right: 16%;
  -webkit-animation: bounce 3.5s ease-in-out 2s infinite alternate;
          animation: bounce 3.5s ease-in-out 2s infinite alternate;
}
body .trees {
  width: 100%;
  height: 130px;
  z-index: 4;
  position: absolute;
  bottom: 20%;
  margin-bottom: -100px;
}
body #ground {
  z-index: 1;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background: #879759;
}
body #hills {
  position: absolute;
  left: 10%;
  margin-left: -120px;
  margin-bottom: -86px;
  bottom: 20%;
  z-index: 3;
}
body #stars {
  width: 100%;
  height: 100%;
}
/* range inpur */

input[type="range"] {
  width: 200px;
  height: 2px;
  background: aqua;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #434343;
  position: relative;
  border: 3px solid aquamarine;
  z-index: 3;
  cursor: pointer;
}